@CHARSET "UTF-8";

#page { margin: 5px auto; }

#thumbs { padding-top: 50px; overflow: hidden;}
#thumbs img, #largeImage { border: 1px solid gray; padding: 4px; background-color: white; cursor: pointer; }
#thumbs img { float: left; margin-right: 6px; }
#description { background: black; color: white; position: absolute; bottom:-50px; padding: 10px 20px; width: 420px; margin: 5px; }
#panel { position: relative; width:500px;}
