vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jul 2013 03:15:39 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|Sri-Acer\\Sri
vti_modifiedby:SR|HasansPC\\Hasan
vti_timecreated:TR|01 Jul 2013 04:21:18 -0000
vti_backlinkinfo:VX|Sales_Kit/resources/resources.htm
vti_cacheddtm:TX|18 Jul 2013 03:15:39 -0000
vti_filesize:IR|1205
vti_cachedlinkinfo:VX|S|minus.gif S|plus.gif S|bullet.gif
vti_cachedsvcrellinks:VX|FSUS|Sales_Kit/styles/TreeMenuStyle/minus.gif FSUS|Sales_Kit/styles/TreeMenuStyle/plus.gif FSUS|Sales_Kit/styles/TreeMenuStyle/bullet.gif
