vti_encoding:SR|utf8-nl
vti_author:SR|ADMIN01\\Compaq_Owner
vti_modifiedby:SR|idea-PC\\Marc
vti_timelastmodified:TR|18 Jul 2013 03:30:13 -0000
vti_timecreated:TR|28 May 2013 07:47:10 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|Sales_Kit/styles/style3.css Sales_Kit/styles/style1.css Sales_Kit/styles/style2.css
vti_syncofs_localhost\\\\\\hanman-sg\\volume_1\\sales_kit///hanman-sg/volume_1/sales_kit:TW|28 May 2013 08:45:00 -0000
vti_syncwith_localhost\\\\\\hanman-sg\\volume_1\\sales_kit///hanman-sg/volume_1/sales_kit:TX|28 May 2013 07:47:10 -0000
vti_syncwith_localhost\\j\:\\sales_kit/j\:/sales_kit:TX|03 Jun 2013 01:54:44 -0000
vti_syncofs_localhost\\j\:\\sales_kit/j\:/sales_kit:TW|10 Jun 2013 07:02:56 -0000
vti_cacheddtm:TX|18 Jul 2013 03:30:13 -0000
vti_filesize:IR|332
