vti_encoding:SR|utf8-nl
vti_author:SR|ADMIN01\\Compaq_Owner
vti_modifiedby:SR|Sri-Acer\\Sri
vti_timelastmodified:TR|30 May 2013 02:13:41 -0000
vti_timecreated:TR|28 May 2013 07:47:10 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|
vti_syncofs_localhost\\\\\\hanman-sg\\volume_1\\sales_kit///hanman-sg/volume_1/sales_kit:TW|28 May 2013 08:45:01 -0000
vti_syncwith_localhost\\\\\\hanman-sg\\volume_1\\sales_kit///hanman-sg/volume_1/sales_kit:TX|28 May 2013 07:47:10 -0000
vti_nexttolasttimemodified:TW|28 May 2013 07:47:12 -0000
vti_cacheddtm:TX|30 May 2013 02:13:41 -0000
vti_filesize:IR|2203
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif S|../images/masthead.gif
vti_cachedsvcrellinks:VX|FSUS|Sales_Kit/styles/layout.css FSUS|Sales_Kit/images/background.gif FSUS|Sales_Kit/images/masthead.gif
