vti_encoding:SR|utf8-nl
vti_author:SR|ADMIN01\\Compaq_Owner
<<<<<<< HEAD
vti_modifiedby:SR|HasansPC\\Hasan
vti_timelastmodified:TR|16 Jul 2013 02:10:42 -0000
=======
vti_modifiedby:SR|idea-PC\\Marc
vti_timelastmodified:TR|12 Jul 2013 08:33:15 -0000
>>>>>>> Marc's-branch
vti_timecreated:TR|28 May 2013 07:47:10 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_syncofs_localhost\\\\\\hanman-sg\\volume_1\\sales_kit///hanman-sg/volume_1/sales_kit:TW|28 May 2013 08:45:00 -0000
vti_syncwith_localhost\\\\\\hanman-sg\\volume_1\\sales_kit///hanman-sg/volume_1/sales_kit:TX|28 May 2013 07:47:10 -0000
vti_nexttolasttimemodified:TW|30 May 2013 03:05:33 -0000
vti_syncwith_localhost\\j\:\\sales_kit/j\:/sales_kit:TX|03 Jun 2013 01:54:44 -0000
vti_syncofs_localhost\\j\:\\sales_kit/j\:/sales_kit:TW|10 Jun 2013 07:02:56 -0000
<<<<<<< HEAD
vti_cacheddtm:TX|16 Jul 2013 02:10:42 -0000
=======
vti_cacheddtm:TX|12 Jul 2013 08:33:15 -0000
>>>>>>> Marc's-branch
vti_filesize:IR|2131
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif S|../images/masthead.gif
vti_cachedsvcrellinks:VX|FSUS|Sales_Kit/styles/layout.css FSUS|Sales_Kit/images/background.gif FSUS|Sales_Kit/images/masthead.gif
